<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="node_modules/angular/angular-csp.css">
</head>
<body ng-controller="TodoListController">
    <div>
        <input type="checkbox" ng-click="toggleAll()" ng-model="checkedAll">
        Todo :
        <input ng-model="todo">
        <button ng-click="addTodo()">+</button>
    </div>
    <div ng-cloak>
        <div ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.checked">
            <input value="{{todo.value}}" ng-hide="todo.checked">
            <span ng-show="todo.checked">{{todo.value}}</span>
            <button ng-click="removeTodo($index)">-</button>
        </div>
    </div>
    <script src="node_modules/angular/angular.js"></script>
    <script>
        (function() {
            'use strict';

            var app = angular.module('app', []);
            app.controller('TodoListController', ['$scope', function($scope) {
                $scope.todos = [{
                    value: 'Acheter du pain',
                    checked: false
                }, {
                    value: 'Organiser en fichier',
                    checked: false
                }];

                $scope.addTodo = function() {
                    $scope.todos.push({
                        value: $scope.todo,
                        checked: false
                    });
                    $scope.checkedAll = false;
                };

                $scope.removeTodo = function(i) {
                    $scope.todos.splice(i, 1);
                };

                $scope.toggleAll = function() {
                    $scope.todos.forEach(function(todo) {
                        todo.checked = $scope.checkedAll;
                    });
                };
            }]);
        }());

    </script>
</body>
</html>